{% extends "Layouts/base.html" %}

{% block content %}

{% load static %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>{{cours.niveau.niveau}} : {{cours.titre|truncatechars:20}}</h2>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- <div class="container mt-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
           <ul class="messages">
           {% for message in messages %}
           <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
           </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div> -->

    {% for message in messages %}
        <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        </div>
    {% endfor %}

    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="{{cours.photo.url}}" width="600" height="300" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title_top">Description du cours</h4>
                        <div class="content">
                           {{cours.description|truncatechars:"20"}}
                        </div>

                        
                        <h4 class="title">Les supports pédagogiques du cours (+ {{som}} supports)</h4>
                        <div class="content">
                            <ul class="course_list">

                            

                                {% for doc  in documents  %}

              
                               
                                <li class="justify-content-between align-items-center d-flex ">
                                    <p class="title">{{doc.nom | truncatechars:50}}</p>
                                    
                                    <!-- <p class="title">
                                        <object  type="application/x-pdf" title="SamplePdf" width="500" height="720">
                                            <a class="btn_2 text-uppercase fa fa-eyes" href="{{doc.fichier.url}}"  class="btn btn-lg btn-primary" >Voir</a> 
                                        </object>
                                    </p> -->
                                    <p class="title">
                                    <object  type="application/x-pdf" title="{{doc.nom}}" width="500" height="720">
                                        <a class="btn_2 text-uppercase fa fa-download" href="{{doc.fichier.url}}"  class="btn btn-lg btn-primary" download>Télécharger</a> 
                                    </object>
                                     </p>
                                   
                                </li>

                                {% endfor %}
            
                            </ul>
                            <div class="mt-5">
                            <nav aria-label="Page navigation example">
                                {% if documents.has_other_pages %}
                          
                                  <ul class="pagination justify-content-center">
                          
                                    {% if documents.has_previous %}
                          
                                    <li class="page-item">
                                      <a class="page-link active" href="?page={{ documents.previous_page_number }}">Previous</a>
                                    </li>
                          
                                    {% else %}
                          
                                    <li class="disabled page-link"><span>Previous</span></li>
                          
                                    {% endif %}
                          
                                    {% for i in documents.paginator.page_range %}
                          
                                    {% if documents.number == i %}
                          
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          
                                    {% else %}
                          
                                    <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          
                                    {% endif %}
                          
                                    {% endfor %}
                          
                                    {% if documents.has_next %}
                          
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ documents.next_page_number }}">Next</a>
                                    </li>
                          
                                    {% else %}
                          
                                    <li class="disabled page-link"><span>Next</span></li>
                          
                                    {% endif %}
                                  </ul>
                          
                                  {% endif %}
                          
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <div class="sidebar_top">
                        <ul>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Nom du cours</p>
                                    <span class="color">{{cours.titre|truncatechars:20}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p> Classe </p>
                                    <span class="color">{{cours.niveau.niveau}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Module </p>
                                    <span class="color">{{cours.categorie|truncatechars:20}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p class="ti-heart"> </p>
                                    <span class="color">2k like</span>
                                </a>
                               
                            </li>
                        
                        </ul>
                    </div>

                    
                        <div class="feedeback">
                            <h6>Votre commentaire</h6>
                            <form action="{% url 'Cours_details'  cours.niveau.niveau cours.categorie cours.titre %}" method="POST">
                                {% csrf_token %}
                                <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                                <div class="mt-10 text-right">
                                    <button  type="submit" class="btn_1">Soumettre</button>
                                </div>
                            </form>
                        </div>
                        <div class="comments-area mb-5">
                            {% for feed in feedbacks  %}
                              
    
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img class="rounded-circle" src="{% static 'img/cource/cource_1.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">{{feed.membre.user.username}}</a>
                                            </h5>
                                    
                                            <p class="comment">
                                                {{feed.feedback|truncatechars:30}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                              <!--::blog_part end::-->
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if feedbacks.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ feedbacks.previous_page_number }}" class="page-link" aria-label="Previous">
                                            &laquo;
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for p in feedbacks.paginator.page_range %}
                                    {% if feedbacks.number == p  %}
                                    <li class="page-item active"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if feedbacks.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ feedbacks.next_page_number }}" class="page-link" aria-label="Next">
                                            &raquo;
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->
    {% endblock content %}
