{% extends "Layouts/base.html" %}

{% block content %}

{% load static %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>{{cours.niveau}} : {{cours.titre}}</h2>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="{% static 'img/single_cource.png' %}" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title_top">Description du cours</h4>
                        <div class="content">
                           {{cours.description}}
                        </div>

                        
                        <h4 class="title">Les supports pédagogiques du cours (+ {{som}} supports)</h4>
                        <div class="content">
                            <ul class="course_list">

                            

                                {% for doc  in documents  %}

              
                               
                                <li class="justify-content-between align-items-center d-flex ">
                                    <p class="title">{{doc.nom | truncatechars:50}}</p>
                                    
                                    <!-- <p class="title">
                                        <object  type="application/x-pdf" title="SamplePdf" width="500" height="720">
                                            <a class="btn_2 text-uppercase fa fa-eyes" href="{{doc.fichier.url}}"  class="btn btn-lg btn-primary" >Voir</a> 
                                        </object>
                                    </p> -->
                                    <p class="title">
                                    <object  type="application/x-pdf" title="{{doc.nom}}" width="500" height="720">
                                        <a class="btn_2 text-uppercase fa fa-download" href="{{doc.fichier.url}}"  class="btn btn-lg btn-primary" download>Télécharger</a> 
                                    </object>
                                     </p>
                                   
                                </li>

                                {% endfor %}
            
                            </ul>
                            <div class="mt-5">
                            <nav aria-label="Page navigation example">
                                {% if documents.has_other_pages %}
                          
                                  <ul class="pagination justify-content-center">
                          
                                    {% if documents.has_previous %}
                          
                                    <li class="page-item">
                                      <a class="page-link active" href="?page={{ documents.previous_page_number }}">Previous</a>
                                    </li>
                          
                                    {% else %}
                          
                                    <li class="disabled page-link"><span>Previous</span></li>
                          
                                    {% endif %}
                          
                                    {% for i in documents.paginator.page_range %}
                          
                                    {% if documents.number == i %}
                          
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          
                                    {% else %}
                          
                                    <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          
                                    {% endif %}
                          
                                    {% endfor %}
                          
                                    {% if documents.has_next %}
                          
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ documents.next_page_number }}">Next</a>
                                    </li>
                          
                                    {% else %}
                          
                                    <li class="disabled page-link"><span>Next</span></li>
                          
                                    {% endif %}
                                  </ul>
                          
                                  {% endif %}
                          
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <div class="sidebar_top">
                        <ul>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Nom du cours</p>
                                    <span class="color">{{cours.titre}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p> Classe </p>
                                    <span class="color">{{cours.niveau}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Module </p>
                                    <span class="color">{{cours.categorie}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p class="ti-heart"> </p>
                                    <span class="color">2k like</span>
                                </a>
                               
                            </li>
                        
                        </ul>
                        <a href="#" class="btn_1 d-block">Ajouter au Tableau de Bord</a>
                    </div>

                    
                        <div class="feedeback">
                            <h6>Votre commentaire</h6>
                            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                            <div class="mt-10 text-right">
                                <a href="#" class="btn_1">Soumettre</a>
                            </div>
                        </div>
                        <div class="comments-area mb-30">
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static 'img/cource/cource_1.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Emilly Blunt</a>
                                            </h5>
                                            <div class="rating">
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                            </div>
                                            <p class="comment">
                                                Blessed made of meat doesn't lights doesn't was dominion and sea earth
                                                form
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static 'img/cource/cource_2.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Elsie Cunningham</a>
                                            </h5>
                                            <div class="rating">
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                            </div>
                                            <p class="comment">
                                                Blessed made of meat doesn't lights doesn't was dominion and sea earth
                                                form
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static 'img/cource/cource_3.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Maria Luna</a>
                                            </h5>
                                            <div class="rating">
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/color_star.svg' %}' %}" alt=""></a>
                                                <a href="#"><img src="{% static 'img/icon/star.svg' %}' %}" alt=""></a>
                                            </div>
                                            <p class="comment">
                                                Blessed made of meat doesn't lights doesn't was dominion and sea earth
                                                form
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->
    {% endblock content %}
