
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Les-E-Learning</title>
	<!-- <link rel="icon" href="{% static 'img/favicon.png' %}"> -->
	<link rel="icon" href="{% static 'img/favicon.png' %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="{% static 'compte/images/icons/favicon.ico' %}"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'compte/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'compte/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'compte/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'compte/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'compte/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'compte/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'compte/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


    {% block content %}  {% endblock content %}
	

	
<!--===============================================================================================-->	
	<script src="{% static 'compte/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'compte/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'compte/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'compte/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'compte/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js' %}-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'compte/js/main.js"></script>

</body>
</html>