{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h2>L'excellence notre passion et le social notre crédo</h2>
                            <h1>Les-E-Learning</h1>Une plate-forme numérique initiée par l’organisation Les Élites Sénégalaises (LES),
                            proposant une large gamme de cours aux élèves étudiants
                            et aux passionnés de connaissances afin de leur permettre de se former d’une manière indépendante.</p>
                            <a href="{% url 'OuvrirCompte' %}" class="btn_1">Ouvrir un compte </a>
                            <a href="{% url 'Connection' %}" class="btn_2">Se connecter </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    



    <!-- learning part start-->
    <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="{% static 'img/4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>A propos</h5>
                        <h2>Apprendre avec Les-E-Learning</h2>
                        <h6>Dans le monde en évolution rapide, les technologies disponibles pour rendre un cours nouveau
                            et passionnant sont en constante évolution, et le contenu du cours peut et doit être mis à jour
                            rapidement pour donner aux élèves et étudiants les toutes dernières informations. Au sein de LES,
                            nous avons bien compris cela, c’est pourquoi, nous mettons à votre disposition la possibilité de consulter
                            et de partager du matériel
                            dans toutes sortes de formats tels que des vidéos, des diaporamas, des documents Word et des PDF….</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3 align-self-center">
                    <div class="single_feature_text ">
                        <h2>Awesome <br> Feature</h2>
                        <p>Set have great you male grass yielding an yielding first their you're
                            have called the abundantly fruit were man </p>
                        <a href="#" class="btn_1">Read More</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-layers"></i></span>
                            <h4>Video</h4>
                            <p>Set have great you male grasses yielding yielding first their to
                                called deep abundantly Set have great you male</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                            <h4>pdf</h4>
                            <p>Set have great you male grasses yielding yielding first their to called
                                deep abundantly Set have great you male</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part single_feature_part_2">
                            <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                            <h4>diaporama et ppt</h4>
                            <p>Set have great you male grasses yielding yielding first their to called deep
                                abundantly Set have great you male</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- upcoming_event part start-->
    <!-- learning part end-->

    <!-- member_counter counter start -->
    <section class="member_counter mt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{nombre_classes}}</span>
                        <h4>Classes</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{nombre_modules}}</span>
                        <h4> Modules</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{nombre_cours}}</span>
                        <h4>Cours</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">{{nombre_user}}</span>
                        <h4>Membres</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- member_counter counter end -->

    <!--::review_part start::-->
    <!-- <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>popular courses</p>
                        <h2>Special Courses</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="{% static 'img/special_cource_1.png' %}" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="course-details.html" class="btn_4">Web Development</a>
                            <h4>$130.00</h4>
                            <a href="course-details.html"><h3>Web Development</h3></a>
                            <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{% static 'img/author/author_1.png' %}" alt="">
                                    <div class="author_info_text">
                                        <p>Conduct by:</p>
                                        <h5><a href="#">James Well</a></h5>
                                    </div>
                                </div>
                                <div class="author_rating">
                                    <div class="rating">
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                    </div>
                                    <p>3.8 Ratings</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="{% static 'img/special_cource_2.png' %}" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="course-details.html" class="btn_4">design</a>
                            <h4>$160.00</h4>
                            <a href="course-details.html"> <h3>Web UX/UI Design </h3></a>
                            <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{% static 'img/author/author_2.png' %}" alt="">
                                    <div class="author_info_text">
                                        <p>Conduct by:</p>
                                        <h5><a href="#">James Well</a></h5>
                                    </div>
                                </div>
                                <div class="author_rating">
                                    <div class="rating">
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                    </div>
                                    <p>3.8 Ratings</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="{% static 'img/special_cource_3.png' %}" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="course-details.html" class="btn_4">Wordpress</a>
                            <h4>$140.00</h4>
                            <a href="course-details.html">  <h3>Wordpress Development</h3> </a> 
                            <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{% static 'img/author/author_3.png' %}" alt="">
                                    <div class="author_info_text">
                                        <p>Conduct by:</p>
                                        <h5><a href="#">James Well</a></h5>
                                    </div>
                                </div>
                                <div class="author_rating">
                                    <div class="rating">
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                    </div>
                                    <p>3.8 Ratings</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ::blog_part end:: -->

    <!-- learning part start-->
    <section class="advance_feature learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-xl-stretch">
                <div class="col-md-6 col-lg-6">
                    <div class="learning_member_text">
                        <h5>Advance feature</h5>
                        <h2>Our Advance Educator
                            Learning System</h2>
                        <p>Fifth saying upon divide divide rule for deep their female all hath brind mid Days
                            and beast greater grass signs abundantly have greater also use over face earth
                            days years under brought moveth she star</p>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="learning_member_text_iner">
                                    <span class="ti-pencil-alt"></span>
                                    <h4>Learn Anywhere</h4>
                                    <p>There earth face earth behold she star so made void two given and also our</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="learning_member_text_iner">
                                    <span class="ti-stamp"></span>
                                    <h4>Expert Teacher</h4>
                                    <p>There earth face earth behold she star so made void two given and also our</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="learning_img">
                        <img src="{% static 'img/advance_feature_img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->

    <!--::review_part start::-->
    <!-- <section class="testimonial_part">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>tesimonials</p>
                        <h2>Happy Students</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Le développement de plateformes comme L.E.S E-learning est une nécessité par ce que d'abord
                                nous devons cultiver l’excellence et élargir notre culture générale
                                ensuite beaucoup n’ont pas accès à de bons documents ,certains reçoivent des cours un peu médiocre ce qui ne favorisent pas l’excellence.
                                    Le développement de L.E.S E-learning nous permettra d’approfondir nos connaissances
                                            grâce à des cours de haut niveau mais aussi nous aurons accès à des documents
                                            conformes à notre niveau ainsi nous atteindrons l’excellence </p>
                                        <h4>Yaye dieynaba wade  </h4>
                                        <h5> première s1</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <!--::blog_part end::-->

    <!--::review_part start::-->
    <section class="testimonial_part">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Témoignages</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Le développement de plateformes comme L.E.S E-learning est une nécessité par ce que d'abord
                                            nous devons cultiver l’excellence et élargir notre culture générale
                                            ensuite beaucoup n’ont pas accès à de bons documents ,certains reçoivent des cours un peu médiocre ce qui ne favorisent pas l’excellence.
                                                </p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" width="500" height="300" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p> Le développement de L.E.S E-learning nous permettra d’approfondir nos connaissances
                                            grâce à des cours de haut niveau mais aussi nous aurons accès à des documents
                                            conformes à notre niveau ainsi nous atteindrons l’excellence</p>
                                            <h4>Yaye Dieynaba WADE </h4>
                                            <h5>Première S1 </h5>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Le développement de plateformes comme L.E.S E-learning est une nécessité par ce que d'abord
                                            nous devons cultiver l’excellence et élargir notre culture générale
                                            ensuite beaucoup n’ont pas accès à de bons documents ,certains reçoivent des cours un peu médiocre ce qui ne favorisent pas l’excellence.
                                                </p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" width="500" height="300" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p> Le développement de L.E.S E-learning nous permettra d’approfondir nos connaissances
                                            grâce à des cours de haut niveau mais aussi nous aurons accès à des documents
                                            conformes à notre niveau ainsi nous atteindrons l’excellence</p>
                                            <h4>Yaye Dieynaba WADE </h4>
                                            <h5>Première S1 </h5>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Le développement de plateformes comme L.E.S E-learning est une nécessité par ce que d'abord
                                            nous devons cultiver l’excellence et élargir notre culture générale
                                            ensuite beaucoup n’ont pas accès à de bons documents ,certains reçoivent des cours un peu médiocre ce qui ne favorisent pas l’excellence.
                                                </p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" width="500" height="300" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p> Le développement de L.E.S E-learning nous permettra d’approfondir nos connaissances
                                            grâce à des cours de haut niveau mais aussi nous aurons accès à des documents
                                            conformes à notre niveau ainsi nous atteindrons l’excellence</p>
                                            <h4>Yaye Dieynaba WADE </h4>
                                            <h5>Première S1 </h5>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Le développement de plateformes comme L.E.S E-learning est une nécessité par ce que d'abord
                                            nous devons cultiver l’excellence et élargir notre culture générale
                                            ensuite beaucoup n’ont pas accès à de bons documents ,certains reçoivent des cours un peu médiocre ce qui ne favorisent pas l’excellence.
                                                </p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" width="500" height="300" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p> Le développement de L.E.S E-learning nous permettra d’approfondir nos connaissances
                                            grâce à des cours de haut niveau mais aussi nous aurons accès à des documents
                                            conformes à notre niveau ainsi nous atteindrons l’excellence</p>
                                            <h4>Yaye Dieynaba WADE </h4>
                                            <h5>Première S1 </h5>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Le développement de plateformes comme L.E.S E-learning est une nécessité par ce que d'abord
                                            nous devons cultiver l’excellence et élargir notre culture générale
                                            ensuite beaucoup n’ont pas accès à de bons documents ,certains reçoivent des cours un peu médiocre ce qui ne favorisent pas l’excellence.
                                                </p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{% static 'img/default-avatar.png' %}" width="500" height="300" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p> Le développement de L.E.S E-learning nous permettra d’approfondir nos connaissances
                                            grâce à des cours de haut niveau mais aussi nous aurons accès à des documents
                                            conformes à notre niveau ainsi nous atteindrons l’excellence</p>
                                            <h4>Yaye Dieynaba WADE </h4>
                                            <h5>Première S1 </h5>
                                    </div>
                                </div>    
                            </div>
                        </div> 
                    </div>
                    
                </div>

            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    <!--::review_part start::-->
    <section class="testimonial_part section_padding">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl--">
                    <div class="section_tittle text-center">
                        <p>Les-E-Learning Cours</p>
                        <h2>Les cours les plus populaires </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">


                    {% for cp in cours_populaires  %}
                                  
                               
                        <div class="testimonial_slider">
                            <div class="row">

                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <h4>CLASSE : {{cp.niveau.niveau}}</h4>
                                        <h4>MODULE : {{cp.categorie}}</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="{{cp.photo.url}}" alt="#" width="250" height="200">
                                    </div>
                                </div>

                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <h4>TITRE : {{cp.titre}}</h4>
            
                                        <h5><strong>{{cp.nombre_likes}}</strong> personnes ont aimé ce cours</h5>
                                        

        
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        {% empty %}
                        
                        <div class="alert alert-warning container text-center" role="alert">
                            Les cours pour cette section ne sont pas disponibles pour le moment.
                            <p><strong>Merci de votre compréhension.</strong></p>
                        </div>

                        {% endfor %}
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    

 

    {% endblock content %}