
{% extends "Layouts/baseCompte.html" %}



{% block content %}

{% load static %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'compte/images/img-01.png' %}" alt="IMG">
					<div class="card mt-5" >
						<div class="card-body">
						 
							<p>	• Votre mot de passe ne peut pas être similaire à vos autres informations personnelles.</p>
							<p>• Votre mot de passe doit contenir au moins 8 caractères</p>
							<p>	• Votre mot de passe ne peut pas être un mot de passe couramment utilisé</p>
							<p>• Votre mot de passe ne peut pas être entièrement numérique</p>
						
							</div>
							</div>
				</div>

				<form class="login100-form validate-form" method="POST" action="{% url 'OuvrirCompte' %}">
					{% csrf_token %}
					<span class="login100-form-title">
						Créer un compte LES
					</span>
					{{form0}}
					{{form1}}
					
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Creer
						</button>
					</div>

					

					<div class="text-center p-t-136">
						<a class="txt2" href="{% url 'Connection' %}">
							J'ai déja un compte
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
    </div>
    
    {% endblock content %}
	
	

