{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}


 <!-- bradcam_area_start -->
 <div class="bradcam_area breadcam_bg overlay2 mb-5">
    <h3>Cm2 : COURS ( +{{som}} )</h3>
</div>

<div class="our_latest_blog" style="margin-top: -100px;">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-100">
                  <h3>Les modules pour tous les niveaux</h3>
              </div>
          </div>
      </div>

      <div class="row">

          {% for i in cours %}

              <div class="col-xl-4 col-md-4">
                  <div class="single_latest_blog">
                      <div class="thumb">
                        <a href ="{% url 'Cours_details' i.niveau i.categorie i.titre %}">  <img src="{% static 'img/latest_blog/1.png' %}" alt=""></a>
                      </div>

                      <div class="content_blog">
                        <div class="date">
                            <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                        </div>
                        <div class="blog_meta">
                            <h3><a href="{% url 'Cours_details' i.niveau i.categorie i.titre %}">{{i.titre}}</a></h3>
                        </div>
                        <p class="blog_text">
                            {{i.description}}
                        </p>
                     </div>
                      
                  </div>
              </div>

  
          {% endfor %}

      </div>
  </div>

<div class="container mb-5 mt-5">

    <nav aria-label="Page navigation example">
        {% if cours.has_other_pages %}
  
          <ul class="pagination justify-content-center">
  
            {% if cours.has_previous %}
  
            <li class="page-item">
              <a class="page-link active" href="?page={{ cours.previous_page_number }}">Previous</a>
            </li>
  
            {% else %}
  
            <li class="disabled page-link"><span>Previous</span></li>
  
            {% endif %}
  
            {% for i in cours.paginator.page_range %}
  
            {% if cours.number == i %}
  
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  
            {% else %}
  
            <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  
            {% endif %}
  
            {% endfor %}
  
            {% if cours.has_next %}
  
            <li class="page-item">
              <a class="page-link" href="?page={{ cours.next_page_number }}">Next</a>
            </li>
  
            {% else %}
  
            <li class="disabled page-link"><span>Next</span></li>
  
            {% endif %}
          </ul>
  
          {% endif %}
  
        </nav>

</div>





  

{% endblock content %}