{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}


        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
            <h3>{{niveau}} : MODULES ( +{{som}} )</h3>
        </div>
        <!-- bradcam_area_end -->
        
        <div class="our_latest_blog" style="margin-top: -100px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-100">
                            <h3>Les modules pour la classe de {{niveau}}</h3>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for cat in categorie %}

                        <div class="col-xl-4 col-md-4">
                            <div class="single_latest_blog">
                                <div class="thumb">
                                  <a href ="{% url 'Cours_liste' niveau cat.categorie %}">  <img src="{% static 'img/latest_blog/1.png' %}" alt=""></a>
                                </div>
                                <div class="content_blog">
                                    <div class="blog_meta">
                                        <h3><a href="{% url 'Cours_liste' niveau cat.categorie %}">{{cat.categorie}}</a></h3>
                                    </div>
                    
                                </div>
                            </div>
                        </div>

            
                    {% endfor %}

                </div>
            </div>
        

       

          

          
    <nav aria-label="Page navigation example">
        {% if categorie.has_other_pages %}
  
          <ul class="pagination justify-content-center">
  
            {% if categorie.has_previous %}
  
            <li class="page-item">
              <a class="page-link active" href="?page={{ categorie.previous_page_number }}">Previous</a>
            </li>
  
            {% else %}
  
            <li class="disabled page-link"><span>Previous</span></li>
  
            {% endif %}
  
            {% for i in categorie.paginator.page_range %}
  
            {% if categorie.number == i %}
  
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  
            {% else %}
  
            <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  
            {% endif %}
  
            {% endfor %}
  
            {% if categorie.has_next %}
  
            <li class="page-item">
              <a class="page-link" href="?page={{ categorie.next_page_number }}">Next</a>
            </li>
  
            {% else %}
  
            <li class="disabled page-link"><span>Next</span></li>
  
            {% endif %}
          </ul>
  
          {% endif %}
  
        </nav>


      </div>
   

   
    <!-- our_latest_blog_start -->
    <div class="our_latest_blog" style="margin-top: -100px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Les modules les plus populaires</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="{% static 'img/latest_blog/1.png' %}" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="#">Commitment to dedicated Support</a></h3>
                            </div>
                            <p class="blog_text">
                                Firmament morning sixth subdue darkness creeping gathered divide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="{% static 'img/latest_blog/2.png' %}" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="#">Commitment to dedicated Support</a></h3>
                            </div>
                            <p class="blog_text">
                                Firmament morning sixth subdue darkness creeping gathered divide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="{% static 'img/latest_blog/3.png' %}" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="#">Commitment to dedicated Support</a></h3>
                            </div>
                            <p class="blog_text">
                                Firmament morning sixth subdue darkness creeping gathered divide.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_latest_blog_end -->

    {% endblock content %}