{% extends "Layouts/base.html" %}

{% block content %}

{% load static %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Bienvenue</h2>
                            <p>Blog<span>/</span>Accueil</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                    {% for p in posts %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                            {% if p.photo %}
                                <a href="{% url 'detail_post' p.id %}"><img class="card-img rounded-0" src="{{ p.photo.url }}" alt=""></a>
                            {% else %}
                                <a href="{% url 'detail_post' p.id %}"><img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt=""></a>
                            {% endif %}
                                <a href="{% url 'detail_post' p.id %}" class="blog_item_date">
                                    <h3>{{ p.updated|date:"d" }}</h3>
                                    <p>{{ p.updated|date:"M" }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'detail_post' p.id %}">
                                    <h2>{{ p.title }}</h2>
                                </a>
                                <p>{{ p.content|truncatewords:"50"}}</p>
                                <ul class="blog-info-link">
                                    <li><i class="fa fa-user"></i> {{ p.author.username }}</li>
                                    <li><i class="fa fa-heart"></i> {{ p.total_likes }}</li>
                                </ul>
                            </div>
                        </article>
                        {% empty %}
                        <div class="container my-auto mt-2">
                        <div class="card">
                            <div class="card-body">
                            <h3 class="text-success" style="justify-content:center;display: flex; align-items: center;"> Aucune publication trouvée après la recherche de <q>{{ request.GET.q }}</q> </h3>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                                        &laquo;
                                    </a>
                                </li>
                                {% endif %}
                                {% for p in posts.paginator.page_range %}
                                {% if posts.number == p  %}
                                <li class="page-item active"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
                                        &raquo;
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="GET">
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Recherche ...' name="q">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Catégorie</h4>
                            <form method="GET" action="{% url 'list_posts' %}">
                            <ul class="list cat-list">
                                <li>
                                    <button class="btn btn-primary" type="submit" name="cat" value="E-learning">e-learning</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary" type="submit" name="cat" value="Activités">activités</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary" type="submit" name="cat" value="Réalisations">réalisations</button>
                                </li>
                            </ul>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Publications récentes</h3>
                            {% for rp in r_posts %}
                            <div class="media post_item">
                                {% if rp.photo %}
                                <img src="{{rp.photo.url}}" alt="post">
                                {% else %}
                                <img src="img/post/post_1.png" alt="post">
                                {% endif %}
                                <div class="media-body">
                                    <a href="{% url 'detail_post' rp.id %}">
                                        <h3>{{rp.title}}</h3>
                                    </a>
                                    <p>{{rp.updated|date:'d/m/Y'}}</p>
                                </div>
                            </div>
                            {% empty %}
                            <div class="media post_item">
                                <div class="media-body">
                                    <h3>Aucune publication</h3>
                                    <p>récente</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
                
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    {% endblock content %}