{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg mb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Blog </h2>
                            <p>Articles</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    {% if messages %}
   <div class="container mt-2">
   <div class="alert alert-success alert-dismissible fade show" role="alert">
      <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
   </button>
   </div>
   </div>
   {% endif %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding mt-5">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                  {% if post.photo %}
                     <img class="img-fluid" src="{{post.photo.url}}" alt="">
                  {% else %}
                     <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                  {% endif %}
                  </div>
                  <div class="blog_details">
                     <h2>
                     {{ post.title }}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> {{ post.author.username }}</a></li>
                        <li><a><i class="fa fa-comments"></i> {{ comments|length }}</a></li>
                     </ul>
                     <p>
                     {{ post.content|linebreaksbr }}
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info">
                     <span class="align-middle"><i class="fa fa-heart"></i><i class="fa fa-thumbs-up"></i> {{ post.total_likes }}</span>
                     </p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <form method="POST" action="{% url 'like_post' %}">
                        {% csrf_token %}
                        {% if is_liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> je n'aime pas</button>
                        {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> j'aime</button>
                        {% endif %}
                     </form>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author.png" alt="">
                     <div class="media-body">
                        <a href="#">
                           <h4>{{post.author.first_name}} {{post.author.last_name}}</h4>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>{{comments|length}} Commentaire{{comments|pluralize}}</h4>
                  {% for c in comments %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{ c.comment_content }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{ c.user.username }}</a>
                                    </h5>
                                    <p class="date">{{ c.added }}</p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% empty %}
                     <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="desc">
                              <p class="comment text-center">
                                 Aucun commentaire trouvé
                              </p> 
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               <div class="comment-form">
               {% if not request.user.is_authenticated %}
               <div class="alert alert-danger" role="alert">
                  L'ajout d'un commentaire nécessite une authentification ! <a href="{% url 'Connection' %}" class="btn btn-outline-primary text-white">Log in</a>
                </div>
               {% endif %}
                  <h4>Ajouter un commentaire</h4>
                  <form method="POST" class="form-contact comment_form" id="commentForm">
                  {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="content" id="comment" cols="20" rows="9"
                                 placeholder="Ceci est un commentaire ..."></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Ajouter</button>
                     </div>
                  </form>
               </div>
            </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Categorie</h4>
                     <form method="GET" action="{% url 'list_posts' %}">
                        <ul class="list cat-list">
                            <li>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit" name="cat" value="E-learning">e-learning</button>
                            </li>
                            <li>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit" name="cat" value="Activités">activités</button>
                            </li>
                            <li>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit" name="cat" value="Réalisations">réalisations</button>
                            </li>
                        </ul>
                     </form>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Publications récentes</h3>
                     {% for rp in r_posts %}
                     <div class="media post_item">
                         {% if rp.photo %}
                         <img src="{{rp.photo.url}}" alt="post" width="80" height="80" >
                         {% else %}
                         <img src="img/post/post_1.png" alt="post" width="80" height="80">
                         {% endif %}
                         <div class="media-body">
                             <a href="{% url 'detail_post' rp.id %}">
                                 <h3>{{rp.title|truncatechars:20}}</h3>
                             </a>
                             <p>{{rp.updated|date:'d/m/Y'}}</p>
                         </div>
                     </div>
                     {% empty %}
                     <div class="media post_item">
                         <div class="media-body">
                             <h3>Aucune publication</h3>
                             <p>récente</p>
                         </div>
                     </div>
                     {% endfor %}
                 </aside>
                  <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tags</h4>
                     <ul class="list">
                     <form method="GET" action="{% url 'list_posts' %}">
                        {% for tag in post.tags.all %}
                        <li class="mb-1">
                           <button type="submit" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" name="tag" value="{{tag}}">{{tag}}</button>
                        </li>
                        {% empty %}
                        <li class="text-center">
                           vide
                        </li>
                        {% endfor %}
                     </form>
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title"><i class="fa fa-book"></i> <i class="fa fa-pencil"></i> Belles plumes</h4>
                     <ul class="flex-wrap">
                        {% for p in poemes %}
                        <li>
                           <a href="{% url 'single_poeme' p.id %}" target="_blank">
                            <h6><i class="fa fa-pencil"></i> {{p.titre}}</h6>
                           </a>
                        </li>
                        {% endfor %}
                        <li><a href="{% url 'poemes' %}" class="text-center"><h6 class="text-primary"><i class="fa fa-plus"></i> Voir plus</h6></a></li>
                     </ul>
                  </aside>
                  
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->


{% endblock content %}